/* GENERAL STYLE OF PAGE */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

/* HEADER  */
header{
    background-color: rgb(219, 219, 219);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN */
main{
    background-color: rgb(219, 219, 219);
    height: calc(100vh - 180px);
}
.containerCard{
    width: calc(80% / 5);
    box-shadow: 5px 10px 8px #888888;
}
.stile{
    border-radius: 0px 0px 10px 10px;
    -webkit-box-shadow: inset 0px 0px 45px -18px rgba(0,196,255,1);
-moz-box-shadow: inset 0px 0px 45px -18px rgba(0,196,255,1);
box-shadow: inset 0px 0px 45px -18px rgba(0,196,255,1);
}
img{
    width: 600px;
    height: 400px;
    object-fit: cover;
    object-position: -300px  ;
}
p{
    height: 80px;
}



/* FOOTER STYLE */
footer{
    height: 100px;
    color: white;
    background-color: rgb(61, 61, 61);
}
footer p{
    margin: 0 ;
}
