/* GENERAL STYLE OF PAGE */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

/* HEADER  */
header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN */
main{
    height: calc(100vh - 180px);
}

.containerCard{
    width: 25%;
    height: 100%;
}

img{
    width: 600px;
    height: 400px;
    object-fit: cover;
}


/* FOOTER STYLE */
footer{
    height: 100px;
    color: white;
    background-color: rgb(61, 61, 61);
}
footer p{
    margin: 0 ;
}
